<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contactenos</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Para contactar a los creadores del proyecto, aquí están los siguientes contactos:</p>


    <div class="bg-gray-100 p-4 rounded-lg text-center">
      <p class="text-xl font-semibold text-gray-800 dark:text-gray-200"> Product Owner:</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-user "> Johan Alexander Rodriguez Cadena</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 "> johanlex20@hotmail.com</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-phone"> 3102420656</p>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg text-center">
      <p class="text-xl font-semibold text-gray-800 dark:text-gray-200"> Technical Manager:</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-user "> Daniel Eduardo Roa Montañez</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300"> dani.rm15@hotmail.com</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-phone"> 3012031102</p>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg text-center">
      <p class="text-xl font-semibold text-gray-800 dark:text-gray-200">Project Manager:</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-user ">Fabian Useche rueda</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300">fabianusecherueda@gmail.com</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-phone">3123607815</p>
    </div>
    <div class="bg-gray-100 p-4 rounded-lg text-center">
      <p class="text-xl font-semibold text-gray-800 dark:text-gray-200 "> Scrum Master:</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-user "> Edwar Andres Ramos Torres</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300"> edward.ramos.torres@gmail.com</p>
      <p class="text-lg font-medium text-gray-600 dark:text-gray-300 pi pi-phone"> 3503339637</p>
    </div>
  </div>


</section>
