

<p-tabView>

<p-tabPanel header="¿EL PORQUE?">
  <br>
  <br>
  <p style="font-size: 26px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iusto, ea doloribus culpa aliquid quam tempore dignissimos sunt totam, dolores voluptate nobis eos eveniet, sed ipsa! Harum, atque? Assumenda, quis.
  </p>
  <br>
  <br>
  <a href="https://www.policia.gov.co/grupo-informacion-criminalidad/estadistica-delictiva">Cifras Policia</a>
  <br><hr><br>
  <a href="https://scj.gov.co/es/oficina-oaiee/estadisticas-mapas">Cifras Secretaria de Seguridad, Convivencia y justicia</a>
  <hr>
  <br><br>

</p-tabPanel>
<p-tabPanel header="¿CUÁL ES NUESTRA PROPUESTA?">
  <p style="font-size: 26px;">
    Nuestra propuesta es la implementación de una opción que concientice
    a las personas y tengan en su mente ideas beneficas, esta opción se trata de
    una aplicacon web articulada con servicios del estado e instituciones privadas.
    <br>
    La idea pricipal es que la gente interactue con la plataforma a cambio de un servicio,
    dicha interacción sembrará en las personas una estado de paz y conciencia los cuales
    podran evitar riñas, peleas, altercados, enfrentamientos los cuales son el pan de cada día.
  </p>
  <br>
  <img src="../../../assets/piesno.jpg" alt="" style="max-width: 70%; height: auto; display: block; margin: 0 auto;">
</p-tabPanel>
  <p-tabPanel header="¿CÓMO LO HAREMOS?">
    <p style="font-size: 26px;">
        Implementaremos una aplicación en ciertos lugares para que
        las personas puedan interactuar con nuestra plataforma y así tengan en su mente algo de cultura de paz.
        La idea es que si las personas se quieren conectar por ejemplo a internet gratis primero tienen
        que interactuar brevemente con algun modulo de muestra aplicación, este modulo tendrá
        como objetivo concientizar a la persona y generar un estado de paz que posibelemente ayude a evitar
        alguna riña.
      </p>
      <br>
      <img src="../../../assets/union.webp" alt="" style="max-width: 50%; height: auto; display: block; margin: 0 auto;">
  </p-tabPanel>
  <p-tabPanel header="¿DÓNDE LO HAREMOS?">
   <div style="display: flex; justify-content: center;">
    <p style="font-size: 26px; align-items: center;">
      <strong>LUGARES</strong>
      </p>
   </div>
      <ul>
        <strong>
        <li>Parques</li>
        <li>Estaciones Transmilenio</li>
        <li>Centros Comerciales</li>
        <li>Plazas</li>
        <li>Colegios</li>
      </strong>
    </ul>
      <br>
      <div class="image-container">
        <img src="../../../assets/estacion.jpg" alt="">
        <img src="../../../assets/parques.jpg" alt="">
        <img src="../../../assets/Plaza_de_Bolívar_desde_el_Museo_de_la_Independencia.jpg" alt="">
        <img src="../../../assets/centro-comercial-dubai.jpg" alt="">
      </div>
  </p-tabPanel>
  <p-tabPanel header="CUÁNDO LO HAREMOS?">
    <p style="font-size: 26px;">
         Este proyecto se podria realizar a unos dos años
      </p>
      <img src="../../../assets/2023.avif" alt="" style="max-width: 50%; height: auto; display: block; margin: 0 auto;">
  </p-tabPanel>
</p-tabView>
