<section id="pantalla-inicial">
  <h1>PASAPALABRA</h1>
  <p>Para responder a las siguientes preguntas, debes usar una sola palabra que creas adecuada para la situación.</p>
  <button >
<a href="https://juegodepaz.000webhostapp.com/">COMENZAR JUEGO</a>
    </button>
</section>
<section id="pantalla-juego">
  <div class="info">
      <button class="inicio">INICIO</button>
  </div>
  <div class="container">
      <span id="tiempo"></span>
  </div>

  <div class="contendor-pregunta">
    <span id="letra-pregunta"></span>
    <h2 id="pregunta"></h2>
    <input type="text" id="respuesta" >
    <div class="botones">
      <button >Responder</button>
      <button >Pasa Palabra</button>
    </div>
  </div>
</section>
<section id="pantalla-final">
  <h1>Resumen</h1>
  <h3>RESPUESTAS</h3>
  <div id="resp">
      <div class="a-e">

      </div>
      <div class="f-j">

      </div>
  </div>
  <h3>Acertadas</h3>
  <span id="acertadas"></span>
  <h3 id="score">de acierto</h3>
  <button >Jugar de Nuevo</button>
</section>
