
<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Acerca    a de nosotros:</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
                Somos un grupo de jóvenes estudiantes de PROGRAMACIÓN en el SENA, 
                y estamos emocionados de compartir nuestras experiencias y 
                logros en el campo de la tecnología y la programación. 
                A lo largo de nuestra formación en el Servicio Nacional de Aprendizaje, 
                hemos adquirido conocimientos sólidos y habilidades técnicas que nos han preparado
                para enfrentar los desafíos del mundo digital. Cada uno de nosotros aporta una 
                pasión única por la programación y un deseo ferviente de contribuir al avance 
                de la industria. Estamos ansiosos por mostrarles cómo nuestras habilidades y 
                dedicación pueden marcar la diferencia en el mundo tecnológico. 
                ¡Bienvenidos a nuestra presentación</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="../../../assets/foto.jpeg" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Cultura de Paz</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
                La importancia de la cultura de paz radica en su capacidad para fomentar 
                la resolución pacífica de conflictos, promover la tolerancia y la comprensión
                entre las personas, y crear un entorno propicio para el desarrollo sostenible 
                y la convivencia armoniosa en la sociedad. Esta cultura de paz es esencial 
                para construir un mundo más justo y equitativo, donde se respeten los derechos 
                humanos y se evite la violencia en todas sus formas.</p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
            <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full shadow-dm" src="../../../assets/jhoan.jpeg" alt="Alexa featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/zHjXqg4/Rectangle-118.png" alt="Alexa featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Jhoan A Rodriguez Cadena</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full shadow-dm" src="../../../assets/dani.jpeg" alt="Olivia featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png" alt="Olivia featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Daniel Roa</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden  rounded-full shadow-dm" src="../../../assets/fabian.png" alt="Liam featued Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/C5MMBcs/Rectangle-120.png" alt="Liam featued Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Fabian Useche Rueda</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full shadow-dm" src="../../../assets/edwar.jpeg" alt="Elijah featured image" />
                    <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png" alt="Elijah featured image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Edwar Ramos</p>
                </div>
            </div>
        </div>
    </div>
</div>

