

<p-tabView>
  <p-tabPanel header="¿QUIENES SOMOS?">
    <p>
      Somos un grupo de estudiantes de programación comprometidos con
      la creación de un mundo más pacífico y justo a través de la tecnología.
      Creemos que la programación no solo es una herramienta poderosa para
      resolver problemas técnicos, sino también una vía para promover valores
      fundamentales como la paz, la igualdad y la justicia. Nos inspira la
      idea de que cada línea de código que escribimos puede tener un impacto
      positivo en la sociedad al empoderar a comunidades marginadas, promover
      la tolerancia y construir puentes de entendimiento entre culturas
      diversas.
    </p>
</p-tabPanel>
<p-tabPanel header="¿QUE HACEMOS?">
  <p>
    En nuestro grupo de estudiantes de programación, nos dedicamos a una
    amplia gama de actividades que se centran en la creación y desarrollo
    de soluciones tecnológicas innovadoras. sabiendo que la tecnologia por
    si sola no es suficuente para mejorar el mundo, esto debe ir de la mano
    con los valores y principos de una sociedad, nos hemos propuesto poner
    un granito de arena para que la tecnologia y los valores vayan de la mano.
  </p>
</p-tabPanel>
<p-tabPanel header="¿CUAL ES NUESTRA PROPUESTA?">
  <p>
    Nuestra propuesta es la implementación de una herramienta que concientice
    a las personas y tengan en su mente ideas beneficas
  </p>
</p-tabPanel>
  <p-tabPanel header="¿COMO LO HAREMOS?">
      <p>
        Implementar en las estaciones de transmilenio y lugares
        publicos como parques, discotecas,etc un mecanismo que junto con
        el acceso a servicios gratis como internet, puedan interactuar con nuestra
        plataforma y así tengan en mente algo de cultura de paz
      </p>
  </p-tabPanel>
  <p-tabPanel header="¿DONDE LO HAREMOS?">
      <p>
        LUGARES PUBLICOS
        ARTICULADO CON ALCALDIAS MENORES Y/O MAYOR
      </p>
  </p-tabPanel>
  <p-tabPanel header="CUANDO LO HAREMOS?">
      <p>
         2023
      </p>
  </p-tabPanel>
</p-tabView>
