<header class="bg-blue-500 text-white py-4">
<div class="container mx-auto text-center">
<h1 class="text-3xl font-semibold">PACIFICO</h1>
</div>
</header>
<h2 class="ml-36" style="font-size: 2rem;">
 <br>
 <b>
  Proyecto Anti Conflictos inspirando y Fomentando la Igualdad en Colombia.
 </b>
</h2>
<section class="py-8">
<div class="container mx-auto">

<p class="text-gray-700">

</p>
</div>
</section>

<div class="ml-96">
  <p-image src="../../../assets/portada.jpg" alt="Image" width="600"></p-image>
</div>


